@import url("/fonts/fonts.css");

:root {
  --primary: #F92300;
  --on-primary: #FFFFFF;
  --secondary: #000000;
  --on-secondary: #000000;
  --primary-text: #FFFFFF;
  --secondary-text: #BBBBBB;

  --header: #FFFFFF;
  --main: #FEDED9;
  --footer: #000000;

  --shadow: 0 1px 5px #00000044;
}

* {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font: italic bold 52pt/0 'Montserrat', sans-serif;
  text-transform: uppercase;
}

h2 {
  font: normal bold 36pt/0 'Montserrat', sans-serif;
}

h3 {
  font: italic bold 16pt/0 'Montserrat', sans-serif;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--header);
  box-shadow: var(--shadow);
  position: sticky;
  height: 50px;
}

main {
  flex: 1 1 auto;
  background-color: var(--main);
}

footer {
  background-color: var(--footer);
  color: var(--secondary-text);
  height: 50px;
}