@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/Montserrat-Italic.ttf");
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/Montserrat-SemiBoldItalic.ttf");
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 900;
  src: url("/fonts/Montserrat-BoldItalic.ttf");
}